@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

*{
    font-family: 'Pixelify Sans', sans-serif;
}

.window-wrapper {
    position: absolute;
    display:grid;
    grid-template-rows: 28px auto;
    margin: 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
    overflow: hidden;
}

.nav-bar{
  user-select: none;
    display:grid;
    grid-template-columns: 2fr auto auto auto;
    color: white;
    border: 1px solid white;
    padding:4px;
    background-color: black;
    cursor:pointer;
}
.nav-btn{
  user-select: none;
    color: white;
    border: 1px solid white;
    width:15px;
    height:15px;
    margin-left: 2px;
    align-items: center;
    text-align: center;
    padding-bottom: 3px;
    cursor: pointer;
}
.nav-btn:hover{
  background-color: white;
  color:black;
}

.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: none;
  cursor: nwse-resize;
  user-select: none;
}
.resizer:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.resizer[data-direction='top'] {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 100%;
  cursor: ns-resize;
}

.resizer[data-direction='right'] {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  height: 100%;
  width: 10px;
  cursor: ew-resize;
}

.resizer[data-direction='bottom'] {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 100%;
  cursor: ns-resize;
}


.resizer[data-direction='left'] {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  height: 100%;
  width: 10px;
  cursor: ew-resize;
}
.resizer[data-direction='top-right'] {
  top: -5px;
  right: -5px;
  width: 17px;
  height: 17px;
  cursor: nesw-resize;
}


.resizer[data-direction='top-left'] {
  top: -5px;
  left: -5px;
  width: 17px;
  height: 17px;
  cursor: nwse-resize;
}

.resizer[data-direction='bottom-left'] {
  bottom: -5px;
  left: -5px;
  width: 17px;
  height: 17px;
  cursor: nesw-resize;
}
.resizer[data-direction='bottom-right'] {
  bottom: -5px;
  right: -5px;
  width: 17px;
  height: 17px;
  cursor: nwse-resize;
}

.minimized {
  display: none;
}
.showing {
  display: block;
}

/*   GAME WINDOW    */



  .sudoku{

    color: black;
    background-color: lightgray;
    border: 1px solid black;
    width: 400px;
    height:388px;
    margin:auto;
    margin-top:10px;

    display: grid;
    grid-template-rows: 15px auto;
  }

  .sudoku-table{
    border-collapse: collapse;
  }
  .sudoku-input{
    width:33px;
    height: 33px;
    margin:none;
  }
  .sudoku-table > tr td{
    border: 1px solid black;
    padding: none;
    margin:none;
    width:41px;
    height:40px;
    text-align: center;
  }

  .game-text-filed {
    margin:14px;
    margin-top:30px;
    letter-spacing: 2px;
    font-size:14pt;
  }


  /* MESSAGE WINDOW */

  .chat-wrapper{
    
    position: relative;
    height:330px;
  }

  .old-messages{
    font-size:11pt;
    word-break: break-all;
    overflow-y:auto;
    width: 100%;
    height: auto;
  }

  .msg{
    color:white;
    padding:3px;
    padding-left: 10px;
  }

  .chat-user{
    color: green;
  }

  .user-input{
    width:70px;
    margin-left:20px;
    
    background-color: black;
    color:white;
    border: None;
  }
  
  .message-input-field{
    position: absolute;
    bottom:0;
  }

  .message-input{
    width: 150px;
    margin-left:30px;
    
    background-color: black;
    color:white;
    border: None;
  }
  
  .submit-btn{
    background-color: black;
    color: white;
    border: None;
  }
  .message-delete{
    background-color: black;
    color: gray;
    border: None;
    cursor: pointer
  }

  /* Light effect */

  .light{
    position: absolute;
    width:100%;
    height: 100%;
    transition: top .1s,
                left .1s;
    background-color: black;
  }


  /* FILE EXPLORER */

  .folder{
    font-size:25pt;
  }

  .folder-wrapper{
    padding: 10px;
    display:grid;
    grid-template-columns:1fr 2fr;
    text-align: center;
  }
  .file-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;

  }
  .one-file{
    text-wrap: wrap;
    margin: 10px;
    cursor:pointer;
    background-color: transparent;
    border-radius: 20px;
    user-select: none;
  }
  .one-file:hover{
background-color: rgb(53, 53, 53);
  }

  


/*   LOGIN  WINDOW    */

.btn{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    font-size: 13pt;
    padding: 4px 8px 4px 8px;
    cursor:pointer;
}

.btn:hover{
  background-color: white;
  color:black;
}

.login-register-wrapper{
  margin: 10px;
  margin-top: 20px;
}

.login-form, .register-form{
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 300px 150px ;
  grid-template-rows: 30px 30px 30px;
  text-align: center;
}

.logout-wrapper{
  height: 200px;
  margin-top:12%;
  width:100%;
  margin-left: 40%;
}

form > input, button{
  margin-left:5px;
}
form>input{
  margin-top: 3px;
}

.login-button{
  padding: 2px;
  margin: 2px;
}

.register-button{
  margin-bottom: 10px;
}
.confirm-button{
  margin-left: 20px;
}
/* TASKBAR */

.taskbar-wrapper{
  background-color: lightgray;
  color: black;

  position: fixed;
  left:0;
  bottom: 0;
  width:100%;
  height: 40px;
  display:grid;
  grid-template-columns: 130px 170px 170px 170px 170px 170px;

  z-index: 2;
}

.taskbar-apps, .taskbar-menu {
  align-items: center;
  appearance: none;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.taskbar-apps:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.taskbar-apps:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, lightgray 0 -3px 0 inset;
  transform: translateY(-2px);
}

.taskbar-apps:active{
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.taskbar-menu{
  float: left;
  width: 125px;
  height: 39px;
  border: 3px solid white;

  font-size: 20pt;
  text-align: center;
  background-color: black;
  color:white;
  
}

.taskbar-apps{
  float:left;
  
  width: 160px;
  height: 33px;
  border: 2px solid black;
  border-left: 3px solid white;
  border-top: 3px solid white;
  margin-top: 2px;
  margin-left: 8px;

  font-size: 18pt;
  text-align: center;
  background-color: lightgray;
  cursor:pointer;
  box-shadow: rgba(0, 0, 0, 1) 1.95px 1.95px 2.6px;
}


.taskbar-apps:hover{
  background-color: black;
color:white;
}


.active-taskbar{
  background-color: gray;
  border-left: 3px solid black;
  border-top: 3px solid black;
  margin-top: 4px;
  box-shadow: none;
}
/* MUSIC PLAYER */

.music-bar{
  background-color: lightgray;
  margin: 10px;
  margin-top: 100px;
  height: 10px;
  border-radius: 10px;
}

.music-btn-wrapper{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.music-back-btn{
  font-weight: 400;
}
.music-play-btn{
  font-weight: 400;
}
.music-next-btn{
  font-weight: 400;
}