@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

*{
    font-family: 'Pixelify Sans', sans-serif;
}

.window-wrapper {
    position: absolute;
    display:grid;
    grid-template-rows: 28px auto;
    margin: 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
}

.nav-bar{
  user-select: none;
    display:grid;
    grid-template-columns: 2fr auto auto auto;
    color: white;
    border: 1px solid white;
    padding:4px;
    background-color: black;
    cursor:pointer;
}
.btn{
  user-select: none;
    color: white;
    border: 1px solid white;
    width:15px;
    height:15px;
    margin-left: 2px;
    align-items: center;
    text-align: center;
    padding-bottom: 3px;
    cursor: pointer;
}
.btn:hover{
  background-color: white;
  color:black;
}



/*   GAME WINDOW    */


.snow {
    
    color: white;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  

  .window-graphic{

    color: white;
    border: 1px solid white;
    width: 180px;
    height:280px;

    margin-left: 27%;
    margin-top: 10%;

    display: grid;
    grid-template-rows: 15px auto;
  }

  .game-text-filed {
    margin:14px;
    margin-top:30px;
    letter-spacing: 2px;
    font-size:14pt;
  }

  .upper-window{

    color: white;
    background-color: white;
    border: 1px solid black;
  }


  /* MESSAGE WINDOW */


  .old-messages{
    font-size:11pt;
    word-break: break-all;
    overflow-y:auto;
  }

  .msg{
    color:white;
    padding:3px;
    padding-left: 10px;
  }

  .chat-user{
    color: green;
  }

  .user-input{
    width:70px;
    margin-left:20px;
  }
  
  .message-input{
    width: 150px;
    margin-left:30px;
  }
  

  input{
    background-color: black;
    color:white;
    border: None;
  }

  .submit-btn{
    background-color: black;
    color: white;
    border: None;
  }
  .message-delete{
    background-color: black;
    color: gray;
    border: None;
  }

  /* Light effect */

  .light{
    position: absolute;
    width:100%;
    height: 100%;
    transition: top .1s,
                left .1s;
    background-color: black;
  }


  /* FILE EXPLORER */

  .folder{
    font-size:25pt;
  }

  .folderWrapper{
    padding: 10px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  .one-file{
    text-wrap: wrap;
    padding: 10px;
    cursor:pointer;
  }