body {
  background-color: black;
  color:white;
  
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 1%;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #217af4; 
  
}

body::-webkit-scrollbar-track {
  background: #222222;
}